:root {

  font-size: 16px;

    /* spaces */

  --space-3xs: clamp(0.31rem, calc(0.30rem + 0.06vw), 0.38rem);
  --space-2xs: clamp(0.69rem, calc(0.68rem + 0.06vw), 0.75rem);
  --space-xs: clamp(1.00rem, calc(0.98rem + 0.13vw), 1.13rem);
  --space-s: clamp(1.31rem, calc(1.28rem + 0.19vw), 1.50rem);
  --space-m: clamp(2.00rem, calc(1.95rem + 0.25vw), 2.25rem);
  --space-l: clamp(2.63rem, calc(2.55rem + 0.38vw), 3.00rem);
  --space-xl: clamp(3.94rem, calc(3.83rem + 0.56vw), 4.50rem);
  --space-2xl: clamp(5.25rem, calc(5.10rem + 0.75vw), 6.00rem);
  --space-3xl: clamp(7.88rem, calc(7.65rem + 1.13vw), 9.00rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.23rem + 0.44vw), 0.75rem);
  --space-2xs-xs: clamp(0.69rem, calc(0.60rem + 0.44vw), 1.13rem);
  --space-xs-s: clamp(1.00rem, calc(0.90rem + 0.50vw), 1.50rem);
  --space-s-m: clamp(1.31rem, calc(1.13rem + 0.94vw), 2.25rem);
  --space-m-l: clamp(2.00rem, calc(1.80rem + 1.00vw), 3.00rem);
  --space-l-xl: clamp(2.63rem, calc(2.25rem + 1.88vw), 4.50rem);
  --space-xl-2xl: clamp(3.94rem, calc(3.53rem + 2.06vw), 6.00rem);
  --space-2xl-3xl: clamp(5.25rem, calc(4.50rem + 3.75vw), 9.00rem);

  /* Custom pairs */
  --space-s-l: clamp(1.31rem, calc(0.98rem + 1.69vw), 3.00rem);

  /* font-size */

  --step--3: clamp(0.77rem, calc(0.76rem + 0.01vw), 0.76rem);
  --step--2: clamp(0.96rem, calc(0.90rem + 0.05vw), 0.91rem);
  --step--1: clamp(1.20rem, calc(1.07rem + 0.11vw), 1.09rem);
  --step-0: clamp(1.31rem, calc(1.28rem + 0.19vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.52rem + 0.30vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.80rem + 0.45vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.14rem + 0.66vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.53rem + 0.94vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(3.00rem + 1.31vw), 4.58rem);
  --step-6: clamp(3.92rem, calc(3.56rem + 1.80vw), 5.72rem);

  /* colors */

  --white-color: #f9f9f9;
  --blue-color: #73abe4;
  --gray-color: #6f698c;
  --red-color: #c92f4b;
  --violet-color: #c44fb1;
  --yellow-color: #ffd700;
  --wine-color: #76324e;
  --green-color: #56c68b;
  --pink-color: #fe9dac;
  --bg-serie: #190d24;
  --bg-child: #1d1e37;
  

}

/* regla para los iconos de fuente */

@font-face {
  font-family: "bootstrap-icons";
  src: url("../fonts/bootstrap-icons.woff2?524846017b983fc8ded9325d94ed40f3") format("woff2"),
url("../fonts/bootstrap-icons.woff?524846017b983fc8ded9325d94ed40f3") format("woff");
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* icons */

.bi-x::before { content: "\f62a"; }
.bi-trash-fill::before { content: "\f5dd"; }
.bi-clock::before { content: "\f293"; }
.bi-pencil-square::before { content: "\f4ca"; }
.bi-grid::before { content: "\f3fc"; }
.bi-view-stacked::before { content: "\f606"; }
.bi-list::before { content: "\f479"; }
.bi-pen::before { content: "\f4c8"; }
.bi-trash3::before { content: "\f78b"; }
.bi-trash2::before { content: "\f5e0"; }
.bi-recycle::before { content: "\f64f"; }
.bi-palette-fill::before { content: "\f4b0"; }
.bi-arrow-90deg-left::before { content: "\f10f"; }
.bi-search::before { content: "\f52a"; }
.bi-sort-alpha-down::before { content: "\f571"; }
.bi-save::before { content: "\f525"; }
.bi-eye::before { content: "\f341"; }
.bi-moon-fill::before { content: "\f494"; }
.bi-sun-fill::before { content: "\f5a1"; }
.bi-clipboard-check::before { content: "\f28b"; }
.bi-plus-circle-fill::before { content: "\f4f9"; }

/* utility-class */

.bg-blue {background-color: var(--blue-color);}
.bg-violet{background-color: var(--violet-color);}
.bg-red {background-color: var(--red-color);}
.bg-green {background-color: var(--green-color);}
.bg-pink {background-color: var(--pink-color);}
.bg-default {background-color: #fc6;}
.cross-color {color: red;}

.light-borderNote {border-bottom: thin solid #000;}
.border-blue {border-bottom: medium solid var(--blue-color);}
.border-violet{border-bottom: medium solid var(--violet-color);}
.border-red {border-bottom: medium solid var(--red-color);}
.border-green {border-bottom: medium solid var(--green-color);}
.border-pink {border-bottom: medium solid var(--pink-color);}
.border-default {border-bottom: medium solid #fc6;}

.in-mobile {display: none;}
.in-desktop {display: flex;}
.none {display: none;}
.text-white {color: var(--white-color);}
.text-center {text-align: center;}
.mr-lf {margin-left: var(--space-3xs);}
.mr-rg {margin-right: var(--space-3xs);}
.mr-bt {margin-bottom: var(--space-3xs);}

.mr-lf-2 {margin-left: var(--space-2xs);}
.mr-rg-2 {margin-right: var(--space-2xs);}

.fs--3 {font-size: var(--step--3);}
.fs--2 {font-size: var(--step--2);}
.fs--1 {font-size: var(--step--1);}
.fs-0 {font-size: var(--step-0);}
.fs-1 {font-size: var(--step-1);}
.fs-2 {font-size: var(--step-2);}
.fs-3 {font-size: var(--step-3);}
.fs-4 {font-size: var(--step-4);}
.fs-5 {font-size: var(--step-5);}
.fs-6 {font-size: var(--step-6);}
 
.pointer-events-none {pointer-events: none;}

.cursor-pointer {cursor: pointer;}


/********* element-styles *************/

* {

  box-sizing: border-box;
  font-family: system-ui;
  margin: 0;
  padding: 0;

}

body {background-color: #ccc;}

h1 {cursor: pointer;}

input,textarea {

  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;

}

textarea {

  height: 80%;
  resize: none;

}

input[type="text"] {padding: .4em 0;}

input:disabled,
textarea:disabled {color: inherit;}

a {

  color: inherit;
  text-decoration: none;

}

i:hover {color: #555;}

li {list-style-position: inside;}

/************ component-styles **************/

.active {display: block;}
.hidden {display: none;}

/* check-list */

.add-list-option {display: flex;}
 
/* notas */

.grid-notes {

  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(12.5rem, 1fr));
  gap: var(--space-xs);
  justify-content: space-evenly;
  justify-items: center;
  margin-top: 1rem;

}

.finished {

  text-decoration-line: line-through;
  color: gray;

}

/* views */

.square {

  height: 12.5rem;
  max-width: 12.5rem;

}

.list {

  height: 10rem;
  max-width: 25rem;

}

/* dark-theme */

.dark {

  color: #f9f9f9;
  background-color: #1d1d1d;
  background-image: none;

}

.dark-note {

  background-color: #000;
  color: #f9f9f9;

}

.text-dark {color: #f9f9f9;}

@keyframes animation-modal {

  0% {opacity: 0;}

  100% {opacity: 1;}

}

@keyframes animation-child-modal {

  0% {

    opacity: 0;
    transform: translateY(-10vh);

  }

  100% {

    opacity: 1;
    transform: translateY(0);

  }

}





